	<footer id="site-footer" class="section-inner thin animated fadeIn faster">
		<p>&copy; {{ now.Format "2006" }}


			Authored by <a href="{{ .Site.Params.social.github.url }}" target="_blank" rel="noopener">{{ .Site.Author.name }}</a>
		</p>

		<p>

			<a href="{{ .Site.BaseURL }}">[ Return to Home Page ]</a>{{ .Site.Params.footerCopyright | safeHTML }}
		</p>

		<p>
		    &#183; <a href="{{ "posts/index.xml" | absLangURL }}" target="_blank" title="rss">
				Ditch social media, use RSS
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>
		</p>
	</footer>
